.btn{
padding-top: 1.5px;
padding-bottom: 1.5px;
}
.width{
margin-right: 20%;
margin-left: 20%;
}
.centre{
    width: 120px;;
    margin-left: 40%;
    margin-top: 5%;
}
.col{
    color: red;
    position: absolute;
    margin-top: -6%;
    text-align: center;
}
.success{
    color: rgb(37, 187, 37);
    position: absolute;
    margin-top: -6%;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.but{
    background-color: green !important;
    margin-left: 71%;
    position: absolute;
}
.cat_img{
    padding-top: 8px !important;
}
.a-color{
    color: black;
}
.modal-dialog{
    max-width: 900px;
}
.mini{
    width: 120px;
    height: 150px;
}
.brand-link .brand-image {
    float: left;
    line-height: .8;
    margin-left: .8rem;
    margin-right: .5rem;
    margin-top: -3px;
    max-height: 43px !important ;
    width: auto;
}
